<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Examples</title>
</head>
<body>

<h3>Viewing the dish:</h3>

<p>{{dish.name}} ({{dish.calories}} calories)</p>

{{#dish.isVegetarian}}
<span>This is a vegetarian dish</span>
{{/dish.isVegetarian}}

{{^dish.isVegetarian}}
<span>This is a non-vegetarian dish</span>
{{/dish.isVegetarian}}

<p><a href="/">Back to the homepage</a></p>

</body>
</html>
